YT_LOADER_USERNAME=admin
YT_LOADER_PASSWORD=replace-with-a-long-random-password
FFMPEG_PRESET=veryfast
FFMPEG_CRF=22
YT_LOADER_RETENTION_HOURS=24
YT_LOADER_AFTER_DOWNLOAD_MINUTES=15
YT_LOADER_READY_HOURS=24
